<option value="1">[1] Bến Thành - Bến Xe Chợ Lớn</option>
<option value="2">[2] Bến Thành - Bến Xe Miền Tây</option>
<option value="3">[3] Bến Thành - Thạnh Lộc</option>
<option value="4">[4] Bến Thành - Cộng Hòa - An Sương</option>
<option value="6">[6] Bến Xe Chợ Lớn - Đại Học Nông Lâm</option>
<option value="7">[7] Bến Xe Chợ Lớn - Gò Vấp</option>
<option value="8">[8] Bến Xe Quận 8 - Đại Học Quốc Gia</option>
<option value="9">[9] Chợ Lớn - Quốc Lộ 1A - Hưng Long</option>
<option value="10">[10] Đại Học Quốc Gia - Bến Xe Miền Tây</option>
<option value="11">[11] Bến Thành - Đầm Sen</option>
<option value="13">[13] Bến Thành - Bến Xe Củ Chi</option>
<option value="14">[14] Miền Đông - 3 tháng 2 - Miền Tây</option>
<option value="15">[15] Bến Phú Định - Đầm Sen</option>
<option value="16">[16] Bến Xe Chợ Lớn - Bình Trị Đông</option>
<option value="17">[17] Bến Xe Chợ Lớn - Cư Xá Ngân Hàng</option>
<option value="18">[18] Bến Thành - Chợ Hiệp Thành</option>
<option value="19">[19] Bến Thành - Khu Chế Xuất Linh Trung - Đại Học Quốc Gia</option>
<option value="20">[20] Bến Thành - Nhà Bè</option>
<option value="22">[22] Bến Xe Quận 8 - KCN Lê Minh Xuân</option>
<option value="23">[23] Bến Xe Chợ Lớn - Ngã Ba Giồng</option>
<option value="24">[24] Bến Xe Miền Đông - Hóc Môn</option>
<option value="25">[25] Bến Xe Quận 8 - Khu Dân Cư Vĩnh Lộc A</option>
<option value="26">[26] Bến Xe Miền Đông - Bến Xe An Sương</option>
<option value="27">[27] Bến Thành - Âu Cơ - An Sương</option>
<option value="28">[28] Bến Thành - Chợ Xuân Thới Thượng</option>
<option value="29">[29] Bến Phà Cát Lái - Chợ Nông Sản Thủ Đức</option>
<option value="30">[30] Chợ Tân Hương - Đại học Quốc tế</option>
<option value="31">[31] Khu dân cư Tân Quy - Khu dân cư Bình Lợi</option>
<option value="32">[32] Bến Xe Miền Tây - Bến Xe Ngã Tư Ga</option>
<option value="33">[33] Bến Xe An Sương - Suối Tiên - Đại học Quốc Gia</option>
<option value="34">[34] Bến Thành - Đại Học Công Nghệ Sài Gòn</option>
<option value="188">[35] Tuyến xe buýt Quận 1</option>
<option value="36">[36] Bến Thành - Thới An</option>
<option value="37">[37] Cảng Quận 4 - Nhơn Đức</option>
<option value="38">[38] KDC Tân Quy - Đầm Sen</option>
<option value="39">[39] Bến Thành - Võ Văn Kiệt - Bến Xe Miền Tây</option>
<option value="40">[40] Bến Xe Miền Đông - Bến Xe Ngã Tư Ga</option>
<option value="41">[41] Bến xe Miền Tây - Ngã tư Bốn xã - Bến Xe An Sương</option>
<option value="43">[43] Bến Xe Miền Đông - Phà Cát Lái</option>
<option value="44">[44] Cảng Quận 4 - Bình Quới </option>
<option value="45">[45] Bến xe Quận 8-Bến Thành-Bến xe Miền Đông</option>
<option value="46">[46] Cảng Quận 4 - Bến Thành - Bến Mễ Cốc</option>
<option value="47">[47] Bến Xe Chợ Lớn - Quốc Lộ 50 - Hưng Long</option>
<option value="48">[48] Siêu Thị CMC - Công Viên Phần Mềm Quang Trung</option>
<option value="50">[50] Đại Học Bách Khoa - Đại Học Quốc Gia</option>
<option value="51">[51] Bến Xe Miền Đông - Bình Hưng Hòa</option>
<option value="52">[52] Bến Thành - Đại Học Quốc Tế</option>
<option value="53">[53] Lê Hồng Phong - Đại Học Quốc Gia</option>
<option value="54">[54] Bến Xe Miền Đông - Bến Xe Chợ Lớn</option>
<option value="55">[55] Công Viên Phần Mềm Quang Trung - Khu Công Nghệ Cao</option>
<option value="56">[56] Bến Xe Chợ Lớn - Đại Học Giao Thông Vận Tải</option>
<option value="57">[57] Chợ Phước Bình - Trường THPT Hiệp Bình</option>
<option value="58">[58] Bến Xe Ngã 4 Ga - Bình Mỹ</option>
<option value="59">[59] Bến Xe Quận 8 - Bến Xe Ngã 4 Ga</option>
<option value="60">[60] Bến Xe An Sương - KCN Lê Minh Xuân</option>
<option value="61">[61] Bến Xe Chợ Lớn - KCN Lê Minh Xuân</option>
<option value="62">[62] Bến Xe Quận 8 - Thới An</option>
<option value="64">[64] Bến Xe Miền Đông - Đầm Sen</option>
<option value="65">[65] Bến Thành - CMT8 - Bến Xe An Sương</option>
<option value="66">[66] Bến Xe Chợ Lớn - Bến Xe An Sương</option>
<option value="68">[68] Bến Xe Chợ Lớn - KCX Tân Thuận</option>
<option value="69">[69] Bến Thành - KCN Tân Bình</option>
<option value="70">[70] Tân Quy - Bến Súc</option>
<option value="71">[71] Bến Xe An Sương - Phật Cô Đơn</option>
<option value="72">[72] Bến Thành - Hiệp Phước</option>
<option value="191">[73] Chợ Bình Chánh - KCN Lê Minh Xuân</option>
<option value="74">[74] Bến Xe An Sương - Bến Xe Củ Chi</option>
<option value="76">[76] Long Phước - Suối Tiên - Đền Vua Hùng</option>
<option value="77">[77] Đồng Hòa - Cần Thạnh</option>
<option value="78">[78] Thới An - Hóc Môn</option>
<option value="79">[79] Bến Xe Củ Chi - Đền Bến Dược</option>
<option value="80">[80] Bến Xe Chợ Lớn - Ba Làng</option>
<option value="81">[81] Bến Xe Chợ Lớn - Lê Minh Xuân</option>
<option value="82">[82] Bến Xe Chợ Lớn - Ngã Ba Tân Quý Tây</option>
<option value="83">[83] Bến Xe Củ Chi - Cầu Thầy Cai</option>
<option value="84">[84] Bến Xe Chợ Lớn - Tân Túc</option>
<option value="85">[85] Bến Xe An Sương - Hậu Nghĩa</option>
<option value="187">[86] Bến Thành - Đại học Tôn Đức Thắng</option>
<option value="87">[87] Bến Xe Củ Chi - An Nhơn Tây</option>
<option value="88">[88] Bến Thành - Chợ Long Phước</option>
<option value="89">[89] Bệnh Viện Đa Khoa Thủ Đức - Trường THPT Hiệp Bình</option>
<option value="90">[90] Phà Bình Khánh - Cần Thạnh</option>
<option value="91">[91] Bến Xe Miền Tây - Chợ Nông Sản Thủ Đức</option>
<option value="93">[93] Bến Thành - Đại Học Nông Lâm</option>
<option value="94">[94] Bến Xe Chợ Lớn - Bến Xe Củ Chi</option>
<option value="95">[95] KDC KCN Tân Bình - Bến Xe Miền Đông</option>
<option value="96">[96] Bến Thành - Chợ Bình Điền</option>
<option value="99">[99] Chợ Bình Khánh - Đại học Quốc Gia</option>
<option value="100">[100] Bến Xe Củ Chi - Cầu Tân Thái</option>
<option value="101">[101] Bến Xe Chợ Lớn - Bến Phú Định</option>
<option value="102">[102] Bến Thành - Nguyễn Văn Linh - Bến Xe Miền Tây</option>
<option value="103">[103] Bến Xe Chợ Lớn - Bến Xe Ngã 4 Ga</option>
<option value="104">[104] Bến Xe An Sương - Đại Học Nông Lâm</option>
<option value="192">[107] Bến xe Củ Chi- Bố Heo</option>
<option value="110">[110] Phú Xuân - Hiệp Phước</option>
<option value="111">[111] Bến Xe Quận 8 - Bến Xe An Sương</option>
<option value="122">[122] An Sương - Tân Quy</option>
<option value="126">[126] Bến Xe Củ Chi - Bình Mỹ</option>
<option value="139">[139] Bến Xe Miền Tây - Phú Xuân</option>
<option value="140">[140] Bến Thành - Phạm Thế Hiển - Ba Tơ</option>
<option value="141">[141] Chợ Long Trường - KCX Linh Trung</option>
<option value="143">[143] Bến Xe Chợ Lớn - Bình Hưng Hòa</option>
<option value="144">[144] Bến Xe Miền Tây - Chợ Lớn - Đầm Sen - Nhiêu Lộc</option>
<option value="145">[145] Bến Xe Chợ Lớn - Chợ Hiệp Thành</option>
<option value="146">[146] Bến Xe Miền Đông - Chợ Hiệp Thành</option>
<option value="148">[148] Bến Xe Miền Tây - Gò Vấp</option>
<option value="149">[149] Bến Thành - Cư Xá Nhiêu Lộc</option>
<option value="150">[150] Bến Xe Chợ Lớn - Ngã 3 Tân Vạn</option>
<option value="151">[151] Bến Xe Miền Tây - Bến Xe An Sương</option>
<option value="152">[152] Khu Dân Cư Trung Sơn - Sân Bay Tân Sơn Nhất</option>