<% provide(:title, "About us") %>
  <div id="about" style="display: block; left: 50%;">
    <img src="assets/khanh.jpg" id="me" alt="Andrew Reifman photo" />

    <nav>
      <ul>
        <li><a href="/" id="nav_about">Home Page</a></li>
      </ul>
    </nav>
    <div class="facts">
      <h2>Hi, my name is Ngoc Khanh Pham</h2>
      <p>I'm a web developer living in Ho Chi Minh City. I like to make cool and beautifull, regardless of what medium I'm working in.</p>
    </div>
    <div class="facts bottom">
      <h2>Facts about me</h2>
      <ul>
        <li>I was born in Bien Hoa City. Now, i am living in Ho Chi Minh City</li>
        <li>Aside from web developer, my other job is working in freelancer.</li>
        <li>The amount of random movie knowledge I have would scare you.</li>
        <li>To this day, I still buy music on CDs and have never bought an mp3.</li>
        <li>I have been told that I have a sweet tooth for chocolate similar to a girl's.</li>
        <li>So, i like read some books about computer programming and history books</li>
      </ul>
    </div>

    <div id="skills">
      <h2>Skill Set</h2>
      <ul>
        <li>
        <p class="bar photoshop">Ruby on Rails</p>
        <p class="percent">90%</p>
        </li>
        <li>
        <p class="bar illustrator">Javascript</p>
        <p class="percent">80%</p>
        </li>
        <li>
        <p class="bar html">HTML / CSS</p>
        <p class="percent">85%</p>
        </li>
        <li>
        <p class="bar javascript">AngularJS / NodeJS</p> <p class="percent">70%</p>
        </li>
        <li>
        <p class="bar pool">Groovy on Grails</p>
        <p class="percent">95%</p>
        </li>
      </ul>
      <p class="measure">Level of skill (measured in awesome)</p>
    </div>

    <div id="contact">
      <h2>Become my BFF</h2>
      <ul>
        <li id="email"><a href="mailto:phamkhanh90@gmail.com">Email</a></li>
        <li id="twitter"><a href="http://twitter.com/andrewreifman" onclick="window.open(this.href);return false;">Twitter</a></li>
        <li id="facebook"><a href="http://www.facebook.com/phamkhanh1990" onclick="window.open(this.href);return false;">Facebook</a></li>
        <li id="wtf"><a href="http://jupiter.kamfjord-it.no/~wheelman/Saxguy/" onclick="window.open(this.href);return false;">??!!!?!?!?</a></li>
      </ul>
    </div>

    <div id="resume">
      <a href="#"><h3>Download my CV</h3></a>
      <a href="#"><img src="assets/background_aboutus/icon_cv.gif" /></a>
    </div>
  </div>
