<% provide(:title, "Show bus routes") %>
<div id="panel">
  <input id="start_input" class="controls" type="text" placeholder="Enter a location" />
  &nbsp;&nbsp;&nbsp;
  <input id="end_input" class="controls" type="text" placeholder="Enter a location" />
</div>
<div id="googleMap" style="width:1867px; left: -7px; top: -8px; height:961px;"></div>
