<div id="panel" style="position: absolute; top: 5px; left: 50%; margin-left: -180px; z-index: 5; background-color: #fff; padding: 5px; border: 1px solid #999;">
  <input id="searchTextField" type="text" size="50" style="border: 1px solid  rgba(0, 0, 0, 0.5);">
  <input type="radio" name="type" id="changetype-all" checked="checked">
  <label for="changetype-all">All</label>
  <input id="searchTextField" type="text" size="50">
  <input type="radio" name="type" id="changetype-establishment">
  <label for="changetype-establishment">Establishments</label>
  <input type="radio" name="type" id="changetype-geocode">
  <label for="changetype-geocode">Geocodes</label>
</div>
<div id="map-canvas" style="height: 100%; margin: 0px; padding: 0px"></div>

<!--
<div style=" border-bottom-style:outset; border-bottom-width:1px;width:100%; position:absolute;  left:0px; top:0px; z-index:2; height:30px; background-color:#eeeeee">
  <form class="form-inline" role="form">
    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Start location">
    <input type="password" class="form-control" id="exampleInputPassword2" placeholder="End location">
    <button type="submit" class="btn btn-default">Search</button>
  </form>
</div> -->