<% provide(:title, "Show bus routes") %>
<div id="panel">
  <input id="start_input" class="controls" type="text" placeholder="Nhập điểm bắt đầu đi" />
  &nbsp;&nbsp;&nbsp;
  <input id="end_input" class="controls" type="text" placeholder="Nhập điểm cần đến" />
  <button type="submit" class="button_submit button_submit-blue">Tìm kiếm</button>
</div>
<div id="googleMap" style="width:1867px; left: -7px; top: -8px; height:961px;"></div>
