<% provide(:title, "Home page") %>
<div class="container">
  <div class="header">
    <!-- <a href="http://tympanus.net/Tutorials/BlurMenu/"><strong>&#38;laquo; Previous Demo: </strong>Blur Menu</a> -->
    <span class="right">
      <a href="http://www.justbenicestudio.com/studio/websymbols/" target="_blank">Đăng nhập</a>
      <a href="http://tympanus.net/codrops/2011/10/24/creative-css3-animation-menus/"><strong>English</strong></a>
    </span>
    <div class="clr"></div>
  </div>
  <br />
  <h1>Dịch Vụ Tìm Kiếm Đuờng Đi Xe Buýt Trực Tuyến TP.Hồ Chí Minh<span>Trang web đang đuợc xây dựng &amp; sẽ sớm hoàn tất</span></h1>
  <br /><br /><br />
  <div class="content">
    <ul class="ca-menu">
      <li>
        <a href="/bus_routes">
          <span class="ca-icon">F</span>
          <div class="ca-content">
            <h2 class="ca-main">Dịch vụ tìm đuờng xe buýt ngắn nhất</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="/bus_way">
          <span class="ca-icon">L</span>
          <div class="ca-content">
            <h2 class="ca-main">Dịch vụ tìm danh sách các tuyến xe buýt</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon" id="heart">N</span>
          <div class="ca-content">
            <h2 class="ca-main">Infographical Education</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon">H</span>
          <div class="ca-content">
            <h2 class="ca-main">Giới thiệu</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon">K</span>
          <div class="ca-content">
            <h2 class="ca-main">Gửi phản hồi</h2>
          </div>
        </a>
      </li>
    </ul>
  </div><!-- content -->
</div>
