<div class="container">
  <div class="header">
    <a href="http://tympanus.net/Tutorials/BlurMenu/"><strong>&laquo; Previous Demo: </strong>Blur Menu</a>
    <span class="right">
      <a href="http://www.justbenicestudio.com/studio/websymbols/" target="_blank">Font/Icons by Just Be Nice</a>
      <a href="http://tympanus.net/codrops/2011/10/24/creative-css3-animation-menus/"><strong>Back to the Codrops Article</strong></a>
    </span>
    <div class="clr"></div>
  </div>
  <h1>Creative CSS3 Animation Menus <span>Experimenting with CSS3 Transitions &amp; Animations</span></h1>
  <div class="content">
    <ul class="ca-menu">
      <li>
        <a href="/bus_routes">
          <span class="ca-icon">F</span>
          <div class="ca-content">
            <h2 class="ca-main">Google Service Find All Bus Routes</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="/bus_way">
          <span class="ca-icon">L</span>
          <div class="ca-content">
            <h2 class="ca-main">Google Service Find All Bus Way Custome</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon" id="heart">N</span>
          <div class="ca-content">
            <h2 class="ca-main">Infographical Education</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon">H</span>
          <div class="ca-content">
            <h2 class="ca-main">About Us</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon">K</span>
          <div class="ca-content">
            <h2 class="ca-main">Contact</h2>
          </div>
        </a>
      </li>
    </ul>
  </div><!-- content -->
</div>