<% provide(:title, "Home page") %>
<div class="container">
  <div class="header">
    <span class="right">
      <a href="http://www.justbenicestudio.com/studio/websymbols/" target="_blank">Đăng nhập</a>
      <a href="http://tympanus.net/codrops/2011/10/24/creative-css3-animation-menus/"><strong>English</strong></a>
    </span>
    <div class="clr"></div>
  </div>
  <br />
  <h1>Dịch Vụ Tìm Kiếm Đuờng Đi Xe Buýt Trực Tuyến TP.Hồ Chí Minh<span>Trang web đang đuợc xây dựng &amp; sẽ sớm hoàn tất</span></h1>
  <br /><br /><br />
  <div class="content">
    <ul class="ca-menu">
      <li>
        <a href="/bus_routes">
          <span class="ca-icon">F</span>
          <div class="ca-content">
            <h2 class="ca-main">Dịch vụ tìm đuờng xe buýt ngắn nhất</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="/bus_way">
          <span class="ca-icon">L</span>
          <div class="ca-content">
            <h2 class="ca-main">Dịch vụ tìm danh sách các tuyến xe buýt</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="ca-icon" id="heart">N</span>
          <div class="ca-content">
            <h2 class="ca-main">Infographical Education</h2>
          </div>
        </a>
      </li>
      <li>
        <a href="/aboutus">
          <span class="ca-icon">H</span>
          <div class="ca-content">
            <h2 class="ca-main">Giới thiệu</h2>
          </div>
        </a>
      <li>
        <a href="/contact">
          <span class="ca-icon">K</span>
          <div class="ca-content">
            <h2 class="ca-main">Gửi phản hồi</h2>
          </div>
        </a>
      </li>
      <!-- <li> -->
      <!--   <a id="go" rel="leanModal" name="signup" href="#signup"> -->
      <!--     <span class="ca&#45;icon">K</span> -->
      <!--     <div class="ca&#45;content"> -->
      <!--       <h2 class="ca&#45;main">Gửi phản hồi</h2> -->
      <!--     </div> -->
      <!--   </a> -->
      <!-- </li> -->
    </ul>
  </div><!-- content -->
</div>

<!-- <script type="text/javascript" charset="utf&#45;8"> -->
<!-- $(function() { -->
<!--   $('a[rel*=leanModal]').leanModal({ top : 200, closeButton: ".modal_close" }); -->
<!-- }); -->
<!-- </script> -->
<!--  -->
<!--  -->
<!--  -->
<!-- <div id="signup"> -->
<!--   <div id="signup&#45;ct"> -->
<!--     <div id="signup&#45;header"> -->
<!--       <h2>Create a new account</h2> -->
<!--       <p>It's simple, and free.</p> -->
<!--       <a class="modal_close" href="#"></a> -->
<!--     </div> -->
<!--  -->
<!--     <form action=""> -->
<!--  -->
<!--       <div class="txt&#45;fld"> -->
<!--         <label for="">Username</label> -->
<!--         <input id="" class="good_input" name="" type="text" /> -->
<!--  -->
<!--       </div> -->
<!--       <div class="txt&#45;fld"> -->
<!--         <label for="">Email address</label> -->
<!--         <input id="" name="" type="text" /> -->
<!--       </div> -->
<!--       <div class="txt&#45;fld"> -->
<!--         <label for="">Password</label> -->
<!--         <input id="" name="" type="text" /> -->
<!--  -->
<!--       </div> -->
<!--       <div class="btn&#45;fld"> -->
<!--         <button type="submit">Sign Up &#38;raquo;</button> -->
<!--       </div> -->
<!--     </form> -->
<!--   </div> -->
<!-- </div> -->
