.controls {
  margin-top: 16px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

// css for start input
#start_input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 380px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#start_input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  font-family: Roboto;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 380px;
}


// css for panel
#panel {
  position: absolute;
  top: 10px;
  left: 22%;
  margin-left: -180px;
  z-index: 5;
  // background-color: #fff;
  padding: 8px;
  border: 1px solid #999;
  width: 900px;
  height: 60px;
}

// css for end input
#end_input {
  background-color: #fff;
  padding: 0 11px 0 13px;
  width: 380px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
}

#end_input:focus {
  border-color: #4d90fe;
  margin-left: -1px;
  font-family: Roboto;
  padding-left: 14px;  /* Regular padding-left + 1. */
  width: 380px;
}
